{% extends "blog/base.html" %}
{% load blog_tags %}

 {% block title %}My Blog{% endblock %}

 {% block content %}

 <div class="row">
  <div class="col-8">
    {% for post in posts %}
    <div class="card p-3 shadow mt-2">
      <div class="card-title card-header" >
        {{post.title|upper}}
        <small class="text-muted float-end">{{post.publish|date:"F j, Y"}}</small> 
        <br>
        <span class="text-muted">Published by: {{post.author}}</span>
      </div>
      <div class="card-body">
        {{post.body|safe}}
        {% lorem %}
      </div>
    </div>
    {% endfor %}
  </div>
 </div>

 {% endblock %}